@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprende A <a href="https://docs.microsoft.com/aspnet/core">Construir Paginas Web Con ASP.NET Core</a>.</p>
</div>
